<div class="albums-container">
  <h1>Albumy użytkownika</h1>
  <button mat-raised-button color="primary" class="back-button" [routerLink]="['/users']">Powrót</button>  <div class="albums-grid">
    <mat-card *ngFor="let album of albums" class="album-card">
      <mat-card-header>
        <mat-card-title>{{ album.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button color="primary" (click)="viewPhotos(album.id)">Przeglądać zdjęcia</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>